
.test {
    position: absolute;
    left: 25rem;
    top: 62rem;
    z-index: -1;
    width: 60rem;
    padding-bottom: 3rem;
}



.about-text-left{
    font-size: 3.9rem;
    text-indent: 20rem;
    padding-right: 50%;
}

.about-text-right{
    text-indent: 20rem;
    font-size: 3.9rem;
    padding-left: 50%;
    margin-top: 0;
}