#ContactLink{
    color: var(--primary-1);
    cursor: default;
}

.ContactContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include Cellphone (430px){
        grid-template-columns: 1fr;
    }
}

.WorkTogether, .GetInTouch{
    font-family: 'Caudex';
    color: var(--primary-1);
    font-size: 40px;
    margin: 5px 50px;
    @include Cellphone (430px){
        justify-content: center;
        align-items: center;
        font-size: 25px;
        margin: 5px 10px;
    }
}


.WorkText{
    font-family: 'Inter';
    color: var(--primary-1);
    font-style: normal;
    font-size: 25px;
    margin-top: 20px;
    @include Cellphone (430px){
        margin-top: 10px;
        font-size: 20px;
    }
}
    


.GetInTouch, .WorkTogether{
    display: flex;
    flex-direction: column;
    @include Cellphone (430px){
        margin-top: 15px;
    }
}

input[type=text] {
    display: flex;
    padding-right: 400px;
    padding-top: 10px;
    font-family: 'Caudex';
    font-size: 16px;
    margin-top: 20px;
    border: solid 3px var(--primary-1);
    background-color: var(--secondary-1);
    @include Cellphone (430px){
        margin-top: 10px;
        padding-right: 200px;
        font-size: 15px;
    }
&::placeholder{
    padding-left: 10px;
    margin-top: 0;
    }
}

#DescriptionBox{
    padding-bottom: 80px;
    @include Cellphone (430px){
        padding-bottom: 70px;
    }
}

.SubmitButton{
    display: flex;
    border-style: none;
    border-radius: 6px;
    font-family: 'Caudex';
    font-style: italic;
    font-size: 25px;
    margin-top: 15px;
    padding: 5px 20px;
    background-color: var(--terciary-1);
    color: white;
    &:hover{
        cursor: pointer;
        box-shadow: 0px 0px 4px var(--primary-1);
        transition: box-shadow 0.25s ease;
    }
    @include Cellphone (430px){
        font-size: 25px;
        padding: 5px 15px;
    }
}

.Icons{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
    @include Cellphone (430px){
        margin-top: 40px;
    }
}

.SocialIcon{
    width: 3%;
    @include Cellphone (430px){
        width: 9%;
    }
}

svg{
    fill: var(--primary-1);
&:hover{
    cursor: pointer;
}
}