*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.Header {
    display: flex;
    img{display: block;}
    justify-content:space-between;
    position: relative;
}

.Logo{
    width: 225px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#HeaderName {
    font-family: 'Caudex', serif;
    font-size: 50px;
    cursor: default;
}

.NameE, .NameF{
    margin: 0;
    margin-left: 50px;
    padding: 0;
}

.NameF{
    margin-left: 150px;
    padding-top: 0;
    transform: translateY(-40px);
}

.Links{
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    margin-right: 200px;
    margin-bottom: 50px;
    font-size: 30px;
    
}

.About, .Contact {
    font-family: 'Caudex'; //How to set the About & Contact on the baseline?
    text-decoration: none;
    color: $primary-1;
    margin-right: 50px;

&:hover{
    color: $terciary-1;
}
}

