*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  &:visited {
    color: var(--primary-1);
  }
}

.Header {
  display: flex;
  img {
    display: block;
  }
  justify-content: space-between;
  position: relative;
}

.Logo {
  width: 225px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
&White{
    opacity: 0;
}

@include Cellphone (430px){
  width: 90px;
}
}

#HeaderName {
  font-family: "Caudex", serif;
  color: var(--primary-1);
  font-size: 50px;
  @include Cellphone (430px){
    font-size: 20px;
  }
}


.NameE,
.NameF {
  margin: 0;
  padding: 0;
}

.NameF {
  text-indent: 150px;
  padding-top: 0;
  transform: translateY(-40px);
  @include Cellphone (430px){
    text-indent: 30px;
    transform: translateY(-20px);
  }
}

.Links {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  margin-left: 0px;
  margin-bottom: 50px;
  font-size: 30px;
}

.About,
.Contact {
  font-family: "Caudex"; //How to set the About & Contact on the baseline?
  text-decoration: none;
  color: var(--primary-1);
  margin-right: 0px;

  &:hover {
    color: var(--terciary-1);
    transition: all .3s;
  }
}


.About{
    margin-right: 50px;
    margin-left: 450px;
}


.ThemeIcon {
  stroke: var(--primary-1);
  fill: none;
  width: 20px;

&.Moon{
  margin-right: 25px;
    stroke: none;
    fill: var(--primary-1);
}

}

.switch-input:checked + .switch-label {
    .ThemeIcon{
        stroke: white;
        &.Moon{
          stroke: none;
        }
    }
  }

