@import url("https://fonts.googleapis.com/css2?family=Caudex:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@1,700&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.Header {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.Header img {
  display: block;
}

.Logo {
  width: 225px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#HeaderName {
  font-family: "Caudex", serif;
  font-size: 50px;
  cursor: default;
}

.NameE, .NameF {
  margin: 0;
  margin-left: 50px;
  padding: 0;
}

.NameF {
  margin-left: 150px;
  padding-top: 0;
  transform: translateY(-40px);
}

.Links {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  margin-right: 200px;
  margin-bottom: 50px;
  font-size: 30px;
}

.About, .Contact {
  font-family: "Caudex";
  text-decoration: none;
  color: black;
  margin-right: 50px;
}
.About:hover, .Contact:hover {
  color: #F07900;
}

.Projects {
  padding: 0 10%;
}

.VideosContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.Video {
  width: 100%;
  border: solid 3.5px black;
  border-radius: 5px;
}
.Video:hover {
  cursor: pointer;
  border-color: #F07900;
}
.Video:hover + .TitleContainer {
  color: #F07900;
}

.PhotosContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
}

.Photo {
  width: 100%;
  border-radius: 5px;
  border: solid 3.5px black;
}
.Photo:hover {
  cursor: pointer;
  border-color: #F07900;
}
.Photo:hover + .TitleContainer {
  color: #F07900;
}

.ProjectName {
  font-family: "Caudex";
  font-style: italic;
  font-size: 35px;
  margin: 0;
  margin-bottom: 20px;
  transform: translateY(-5px);
}

.ProjectYear {
  font-family: "Inter";
  font-size: 20px;
  margin: 0;
}

.ProjectName:hover, .ProjectYear:hover {
  cursor: default;
}

.AboutContainer {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

#InAbout {
  font-family: "Caudex";
  color: black;
  margin-right: 50px;
  cursor: default;
}

.MePhoto {
  width: 500px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 75%;
  margin-top: 75px;
}

.BioText {
  font-family: "Inter", sans-serif;
  font-size: 50px;
  text-indent: 225px;
  padding-left: 50px;
  padding-right: 750px;
}

.DescriptionText {
  font-family: "Inter", sans-serif;
  text-indent: 225px;
  font-size: 50px;
  margin-top: 250px;
  padding-right: 50px;
  padding-left: 750px;
}

.FunFact {
  font-family: "Inter";
  margin: 50px 50px;
  margin-top: -20px;
}

.Resume {
  padding: 5px 25px;
  margin: 20px 50px 50px;
  border: none;
  border-radius: 6px;
  background-color: #F07900;
  font-family: "Caudex";
  font-size: 30px;
}
.Resume:hover {
  cursor: pointer;
  font-size: 31px;
  box-shadow: 0px 0px 4px black;
}

#InContact {
  font-family: "Caudex";
  color: black;
  margin-right: 50px;
  cursor: default;
}

.ContactContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.WorkTogether, .GetInTouch {
  font-family: "Caudex";
  font-size: 40px;
  margin: 5px 50px;
}

.WorkText {
  font-family: "Inter";
  font-style: normal;
  font-size: 25px;
  margin-top: 20px;
}

.GetInTouch {
  display: flex;
  flex-direction: column;
}

input[type=text] {
  display: flex;
  padding-right: 400px;
  padding-top: 10px;
  font-family: "Caudex";
  font-size: 16px;
  margin-top: 20px;
  border: solid 3.5px black;
}

#DescriptionBox {
  padding-bottom: 80px;
}

.SubmitButton {
  border-style: none;
  border-radius: 6px;
  font-family: "Caudex";
  font-style: italic;
  font-size: 25px;
  padding: 5px 20px;
  background-color: #F07900;
  color: white;
}
.SubmitButton:hover {
  cursor: pointer;
  font-size: 26px;
  box-shadow: 0px 0px 4px black;
}
.SubmitButton::-moz-placeholder {
  vertical-align: baseline;
}
.SubmitButton:-ms-input-placeholder {
  vertical-align: baseline;
}
.SubmitButton::placeholder {
  vertical-align: baseline;
}

.Icons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.SocialIcon {
  width: 3%;
}/*# sourceMappingURL=styles.css.map */