@import url("https://fonts.googleapis.com/css2?family=Caudex:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@1,700&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
:root {
  --primary-1: black;
  --secondary-1: white;
  --terciary-1: #f07900;
}

:root:has(.switch-input:checked) {
  --primary-1: white;
  --secondary-1: black;
  --terciary-1: #f07900;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
a:visited {
  color: var(--primary-1);
}

.Header {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.Header img {
  display: block;
}

.Logo {
  width: 225px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.LogoWhite {
  opacity: 0;
}
@media only screen and (max-width: 430px) {
  .Logo {
    width: 90px;
  }
}

#HeaderName {
  font-family: "Caudex", serif;
  color: var(--primary-1);
  font-size: 50px;
}
@media only screen and (max-width: 430px) {
  #HeaderName {
    font-size: 20px;
  }
}

.NameE,
.NameF {
  margin: 0;
  padding: 0;
}

.NameF {
  text-indent: 150px;
  padding-top: 0;
  transform: translateY(-40px);
}
@media only screen and (max-width: 430px) {
  .NameF {
    text-indent: 30px;
    transform: translateY(-20px);
  }
}

.Links {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  margin-left: 0px;
  margin-bottom: 50px;
  font-size: 30px;
}

.About,
.Contact {
  font-family: "Caudex";
  text-decoration: none;
  color: var(--primary-1);
  margin-right: 0px;
}
.About:hover,
.Contact:hover {
  color: var(--terciary-1);
  transition: all 0.3s;
}

.About {
  margin-right: 50px;
  margin-left: 450px;
}

.ThemeIcon {
  stroke: var(--primary-1);
  fill: none;
  width: 20px;
}
.ThemeIcon.Moon {
  margin-right: 25px;
  stroke: none;
  fill: var(--primary-1);
}

.switch-input:checked + .switch-label .ThemeIcon {
  stroke: white;
}
.switch-input:checked + .switch-label .ThemeIcon.Moon {
  stroke: none;
}

.BodySpace {
  margin-left: 25px;
}

.Projects {
  padding: 0 10%;
}

.VideosContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
@media only screen and (max-width: 430px) {
  .VideosContainer {
    grid-template-columns: 1fr;
    gap: 0px;
  }
}

.Videos {
  display: flex;
  flex-direction: column;
}

.Video {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border: solid 3.5px var(--primary-1);
  border-radius: 5px;
}
.Video:hover {
  cursor: pointer;
  border-color: var(--terciary-1);
}
.Video:hover + .TitleContainer .ProjectName, .Video:hover + .TitleContainer .ProjectYear {
  color: var(--terciary-1);
}

.PhotosContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
  row-gap: 10px;
}
@media only screen and (max-width: 430px) {
  .PhotosContainer {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 50px;
         column-gap: 50px;
    row-gap: 0px;
  }
}

.Photos {
  display: flex;
  flex-direction: column;
}

.Photo {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 294.2px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: solid 3.5px var(--primary-1);
}
@media only screen and (max-width: 430px) {
  .Photo {
    max-height: 147.1px;
  }
}
.Photo:hover {
  cursor: pointer;
  border-color: var(--terciary-1);
}
.Photo:hover + .TitleContainer .ProjectName, .Photo:hover + .TitleContainer .ProjectYear {
  color: var(--terciary-1);
}

.TitleContainer {
  margin-bottom: 1px;
}

.ProjectName {
  color: var(--primary-1);
  font-family: "Caudex";
  font-style: italic;
  font-size: 35px;
  margin: 0;
  margin-bottom: 20px;
  transform: translateY(-5px);
  line-height: 30px;
}
@media only screen and (max-width: 430px) {
  .ProjectName {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 10px;
  }
}

.ProjectYear {
  color: var(--primary-1);
  font-family: "Inter";
  font-size: 20px;
  margin: 5px 0px;
}
@media only screen and (max-width: 430px) {
  .ProjectYear {
    font-size: 15px;
  }
}

.ProjectName:hover, .ProjectYear:hover {
  cursor: default;
}

body {
  background-color: var(--secondary-1);
}

.BodySpace {
  margin-left: 50px;
}
@media only screen and (max-width: 430px) {
  .BodySpace {
    margin-left: 10px;
  }
}

#AboutLink {
  color: var(--primary-1);
  cursor: default;
}

.MePhoto {
  width: 500px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 75%;
  margin-top: 0px;
}
@media only screen and (max-width: 430px) {
  .MePhoto {
    margin-top: 50px;
    width: 400px;
    clip: rect(0px, 300px, 400px, 80px);
  }
}

.AboutContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.BioText {
  font-family: "Inter", sans-serif;
  color: var(--primary-1);
  font-size: 50px;
  text-indent: 225px;
  padding-right: 50%;
}
@media only screen and (max-width: 430px) {
  .BioText {
    font-size: 25px;
    text-indent: 100px;
  }
}

.DescriptionText {
  font-family: "Inter", sans-serif;
  color: var(--primary-1);
  text-indent: 225px;
  font-size: 50px;
  padding-left: 50%;
  margin-top: 200px;
  padding-right: 25px;
}
@media only screen and (max-width: 430px) {
  .DescriptionText {
    margin-top: 150px;
    font-size: 25px;
    text-indent: 100px;
  }
}

.FunFact {
  font-family: "Inter";
  color: var(--primary-1);
}
@media only screen and (max-width: 430px) {
  .FunFact {
    margin-top: 30px;
    font-size: 15px;
  }
}

.Resume {
  padding: 5px 25px;
  margin: 20px 50px 50px;
  border: none;
  border-radius: 6px;
  background-color: var(--terciary-1);
  font-family: "Caudex";
  font-size: 30px;
}
@media only screen and (max-width: 430px) {
  .Resume {
    padding: 5px 15px;
    font-size: 35px;
    margin: 40px 10px 10px;
  }
}
.Resume:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px var(--primary-1);
  transition: box-shadow 0.25s ease;
}

#ContactLink {
  color: var(--primary-1);
  cursor: default;
}

.ContactContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 430px) {
  .ContactContainer {
    grid-template-columns: 1fr;
  }
}

.WorkTogether, .GetInTouch {
  font-family: "Caudex";
  color: var(--primary-1);
  font-size: 40px;
  margin: 5px 50px;
}
@media only screen and (max-width: 430px) {
  .WorkTogether, .GetInTouch {
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 5px 10px;
  }
}

.WorkText {
  font-family: "Inter";
  color: var(--primary-1);
  font-style: normal;
  font-size: 25px;
  margin-top: 20px;
}
@media only screen and (max-width: 430px) {
  .WorkText {
    margin-top: 10px;
    font-size: 20px;
  }
}

.GetInTouch, .WorkTogether {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 430px) {
  .GetInTouch, .WorkTogether {
    margin-top: 15px;
  }
}

input[type=text] {
  display: flex;
  padding-right: 400px;
  padding-top: 10px;
  font-family: "Caudex";
  font-size: 16px;
  margin-top: 20px;
  border: solid 3px var(--primary-1);
  background-color: var(--secondary-1);
}
@media only screen and (max-width: 430px) {
  input[type=text] {
    margin-top: 10px;
    padding-right: 200px;
    font-size: 15px;
  }
}
input[type=text]::-moz-placeholder {
  padding-left: 10px;
  margin-top: 0;
}
input[type=text]:-ms-input-placeholder {
  padding-left: 10px;
  margin-top: 0;
}
input[type=text]::placeholder {
  padding-left: 10px;
  margin-top: 0;
}

#DescriptionBox {
  padding-bottom: 80px;
}
@media only screen and (max-width: 430px) {
  #DescriptionBox {
    padding-bottom: 70px;
  }
}

.SubmitButton {
  display: flex;
  border-style: none;
  border-radius: 6px;
  font-family: "Caudex";
  font-style: italic;
  font-size: 25px;
  margin-top: 15px;
  padding: 5px 20px;
  background-color: var(--terciary-1);
  color: white;
}
.SubmitButton:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px var(--primary-1);
  transition: box-shadow 0.25s ease;
}
@media only screen and (max-width: 430px) {
  .SubmitButton {
    font-size: 25px;
    padding: 5px 15px;
  }
}

.Icons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media only screen and (max-width: 430px) {
  .Icons {
    margin-top: 40px;
  }
}

.SocialIcon {
  width: 3%;
}
@media only screen and (max-width: 430px) {
  .SocialIcon {
    width: 9%;
  }
}

svg {
  fill: var(--primary-1);
}
svg:hover {
  cursor: pointer;
}

:root {
  --primary-1: black;
  --secondary-1: white;
  --terciary-1: #F07900;
}

.SwitchCheck {
  display: flex;
}

.Mode {
  width: 20px;
  align-self: flex-start;
  margin-top: 30px;
  filter: var(--primary-1);
}

svg {
  fill: var(--primary-1);
}

.switch {
  position: relative;
  display: inline-block;
  margin: 30px 0px;
}

.switch-label {
  display: flex;
  align-items: center;
}

.switch-input {
  display: none;
}

.ToggleSwitch {
  display: block;
  margin-inline: 10px;
  width: 48px;
  height: 24px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.ToggleSwitch::before,
.ToggleSwitch::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}

.ToggleSwitch::before {
  width: 100%;
  height: 100%;
  background-color: #dedede;
  border-radius: 9999em;
  transition: background-color 0.25s ease;
}

.ToggleSwitch::after {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  transition: left 0.5s ease;
}

.switch-input:checked + .switch-label .ToggleSwitch::before {
  background-color: var(--terciary-1);
}

.switch-input:checked + .switch-label .ToggleSwitch::after {
  left: 24px;
}

.ImageModal {
  display: none;
  align-items: center;
  position: fixed;
  z-index: 1;
  padding: 50px 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  flex-direction: column;
}
.ImageModal.Open {
  display: flex;
}
@media only screen and (max-width: 430px) {
  .ImageModal.Open {
    padding: 15px 0px;
  }
}
.ImageModal .ImageModalDisplay {
  display: flex;
  padding: 50px 50px;
  gap: 50px;
  background-color: rgba(43, 43, 43, 0.75);
  border-radius: 9px;
}
@media only screen and (max-width: 430px) {
  .ImageModal .ImageModalDisplay {
    flex-direction: column;
    padding: 25px 20px;
    row-gap: 5px;
  }
}
.ImageModal img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 500px;
}
@media only screen and (max-width: 430px) {
  .ImageModal img {
    left: 50%;
    width: 250px;
  }
}
.ImageModal .ModalSoftware, .ImageModal .ModalTitle {
  color: white;
}
.ImageModal .ModalSoftware {
  font-family: "Caudex";
  font-style: italic;
  font-size: 50px;
}
@media only screen and (max-width: 430px) {
  .ImageModal .ModalSoftware {
    font-size: 25px;
  }
}
.ImageModal .ModalTitle {
  font-family: "Inter";
  font-size: 30px;
  margin-right: 300px;
}
@media only screen and (max-width: 430px) {
  .ImageModal .ModalTitle {
    font-size: 15px;
    margin-right: 150px;
  }
}
.ImageModal button {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 900;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 65px;
  right: 150px;
}
.ImageModal p {
  color: white;
}/*# sourceMappingURL=styles.css.map */