body {
    font-family: "Red Hat Display", sans-serif;
    padding: 0;
    margin: 0;
    background-color: $background-1;
}

  .Title{
    padding: 30px 100px;
    margin-top: 0;
    text-align: center;
    background-color: $primary-1;
    color: white;
    font-size: 100px;
  }

  .NamePicture{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 40px;
  }

  .NameContainer{
    align-self: flex-end;
  }

  .ImagePP{
    align-self: center;
    width: 300px;
  }


  .BioContainer{
    margin: 20px 50px;
  }


.NameTitle, .BioTitle, .FavBooks, .FavMovies, .QuoteTitle{
  color: $primary-1;
  margin-left: 20px;
}

.NameTitle, .BioTitle{
  font-size: 75px;
  margin-bottom: 0;
}

.NameAnswer, .BioAnswer, .QuestionAnswer{
  font-size: 40px;
  margin: 0px 25px;
}

.NameAnswer, .BioAnswer, ol, ul, .QuoteInfo, .QuoteAuthor{
  color: $txt-blue;
}