*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
    text-decoration: none;
    color: var(--primary-1);

  }

ul{
    list-style: none;
}

//Header// 

.NavBar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    @include Cellphone (430px){
      margin-bottom: 25px;
    }
}

//Name//

.NavName{
    margin: 10px;
    font-family: 'Caudex';
    font-style: italic;
    font-size: 55px;
    color: var(--primary-1);
    line-height: 90px;
    @include Cellphone (430px){
      margin-top: 10px;
      line-height: 35px;
      font-size: 20px;
    }
}

.NavLastName{
    text-indent: 50px; 
    @include Cellphone (430px){
      text-indent: 15px;
    } 
}

// LOGO // 

.NavLogo{
    width: 225px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @include Cellphone (430px){
      
      display: none;

    }
  
}

.LogoWhite{
  opacity: 0;
}

// Links & Switch//

.NavItems{
    display: flex;
}

.NavLinks{
    margin-right: 75px;
    display: flex;
    align-items: flex-end;
    @include Cellphone (430px){
      margin-right: 10px;
    }
}

.Links{
    font-family: 'Caudex';
    font-size: 25px;
    display: flex;
    flex-direction: row;
    gap: 75px;
    :hover{
      color: var(--terciary-1);
    }

    @include Cellphone (430px){
      font-size: 15px;
      gap: 30px;
      padding-bottom: 10px;
    }
}
  


