$primary-1: #13193b;
$secondary-2: rgb(3, 95, 3);
$terciary-3: rgb(85, 0, 85);

$txt-blue: #1f2a63;
$txt-green: rgb(42, 165, 42);
$txt-yellow: rgb(151, 84, 151);

$background-1: beige;
$background-2: rgb(171, 171, 145);
$background-3: white;
$background-4: rgb(179, 179, 179);
$background-5: yellow;
$background-6: rgb(134, 134, 0);